<br>


<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group">
 <label class="col-lg-4 control-label">MAC:</label>
 <div class="col-lg-6"><input class="form-control" type="text" name="mac" value="D0:50:99:54:24:DD" class="input"></div>
[#RESULT#]
</div>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_SEND#></button>
<input type="hidden" name="view_mode" value="wake">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>



</form>
